/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #292929;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    background: #bd89e7;
    width: 100%;
    clear: both;    
    content:'';
    display: table;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.container-icon{
    position: relative;
}

.imagen-translucida {
    filter: opacity(50%);
  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }

  nav {
    float: left;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }

.count-products{
    position: absolute;
    top: 30px;
    right: 0;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    background-color: #7e7a7a;
    color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(255, 251, 251, 0.2);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}

.precio-producto-carrito{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
/*.container-items{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}*/

.container-items{
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a una nueva fila */
    gap: 10px; /* Espaciado entre los elementos */
    justify-content: center; /* Opcional: alinear horizontalmente */
}



.item{
    border-radius: 10px;
}

.btn-add-cart button{
    font-family: "Quicksand", sans-serif;
    border: none;
    background: none;
    background-color: #bd89e7;
    color: #0f0e0e;
    padding: 15px 10px;
    cursor: pointer;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    position: relative;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    color: #bd89e7;
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    font-family: "Quicksand", sans-serif;
    border: none;
    background: none;
    background-color: #bd89e7;
    color: #0f0e0e;
    padding: 15px 10px;
    cursor: pointer;
}



.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}



  
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 800px; 
    max-height: 450px; 
    margin: 0 auto; 
  }
  
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  footer {
    background: #bd89e7;
    width: 100%;
    clear: both;    
    content:'';
    display: table;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  .formulario label {
    font-weight: bold;
  }
  
  .formulario input,
  .formulario textarea,
  .formulario button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
  }
  
  section {
    padding: 50px;
    margin: 20px 0;
  }
  html {
    scroll-behavior: smooth;
  } 
  .contenedorReseñas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  
  .card {
    color: #efcccc;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(243, 242, 242, 0.2);
    cursor: pointer;
  }
  
  
  .card__content {
    display: flex;
    gap: 1rem;
  }
  .card__details h4 {
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .contenedorReseñas {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
  }
  
  @media (max-width: 480px) {
    .contenedorReseñas {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
  }
  

