
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #292929;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
}

img{
    max-width: 100%;
}

header{
    background: #bd89e7;
    width: 100%;
    clear: both;    
    content:'';
    display: table;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.imagen-translucida {
    filter: opacity(50%);
  }
  
  .menu {
    background-color: #bd89e7; 
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .menu nav ul {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    list-style: none; 
    margin: 0;
    padding: 0;
    gap: 15px;
}

/* Estilo de los enlaces */
.menu nav ul li a {
  text-decoration: none; /* Quita subrayado */
  color: #333; /* Color del texto */
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease;
}

.menu nav ul li {
  margin: 5px 10px; /* Margen alrededor de los elementos */
}

.precio-producto-carrito{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}


.container-items{
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
}



.item{
    border-radius: 10px;
}

.boton, .btnAgregar {
    font-family: "Quicksand", sans-serif;
    border: none;
    border-radius: 10px;
    background: none;
    background-color: #bd89e7;
    color: #0f0e0e;
    padding: 15px 10px;
    cursor: pointer;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    position: relative;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    color: #bd89e7;
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hidden{
    display: none;
}


  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 800px; 
    max-height: 450px; 
    margin: 0 auto; 
  }
  
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  footer {
    background: #bd89e7;
    width: 100%;
    clear: both;    
    content:'';
    display: table;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    color: hsl(0, 17%, 98%);
    gap: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  .formulario label {
    font-weight: bold;

  }
  
  .formulario input,
  .formulario textarea,
  .formulario button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
  }
  
  section {
    padding: 50px;
    margin: 20px 0;
  }

  section h2 { 
    text-align: center;
    color: hsl(0, 17%, 98%);
  }

  html {
    scroll-behavior: smooth;
  } 

  .carrito {
    display: flex;
    gap: 10px; 
    justify-content: center;
    color: hsl(0, 17%, 98%);
    padding: 2rem;
    align-items: baseline;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(243, 242, 242, 0.2);

  }
  .contenedorReseñas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  
  .card {
    color: #efcccc;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(243, 242, 242, 0.2);
    cursor: pointer;
  }
  
  
  .card__content {
    display: flex;
    gap: 1rem;
  }
  .card__details h4 {
    text-align: right;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
  }

  iframe {
    display: block; /* Asegura que respete el margin auto */
    margin: 0 auto; /* Centra horizontalmente */
}

  @media (max-width: 768px) {
    .contenedorReseñas {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .contenedorReseñas {
      grid-template-columns: 1fr; 
    }
  }
  

